html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #000000ba;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 20px;
}

/* HEADER */
header {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
    color: #f700ff;
}

/* SECCIONES */
section {
    margin-bottom: 40px;
    background: #242024ae;;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(255, 25, 247, 0.822);
}

section h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

section p {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* TARJETAS */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    text-decoration: none;
    background: #141414c8;;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgb(131, 3, 138);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px rgba(255, 8, 255, 0.981);
}

.card img {
    width: 80%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.3rem;
}

.card p {
    font-size: 0.95rem;
    color: #ffffff;
    font-style: italic;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color:#000000;;
    color: white;
    margin-top: 40px;
    font-size: 0.9rem;
}
