html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #000000ba;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 20px;
}

/* HEADER */
header {
    display: flex;
    position: relative;
    text-align: center;
    background-color: #141414c8;
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 15px;
    gap: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

header img {
    width: 10%;
}
.google {
    
    padding: 10px;
    position: absolute;
    right: 22px;
    top: 0;

}

nav {
    display: flex;
    align-self: end;
 }

nav ul {
    font-size:larger;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
   text-shadow: 0 0 10px ;
   color: #f289ee;
}

/* SECCIONES */
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background: #242024ae;;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 20px #282626;
    align-items: center;
}

section h2 {
    background-color: #141414c8;
    align-self: center;
    box-shadow: 0 0 15px #e306be;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

section p {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}



/* TARJETAS */
.card-container {
    display: flex;
    grid-template-columns: repeat(6,1fr);
    gap: 25px;
    margin-top: 50px;
    padding-inline: 400px;
    justify-content: center;
}

.card {
    margin-top: 15px;
    text-decoration: none;
    background: #141414c8;;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgb(131, 3, 138);
    padding: 10px;
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.2s ease;
    flex: 1;

}

.card a {
    text-decoration: none;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0px 6px 18px rgba(255, 8, 255, 0.981);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.3rem;
}

.card p {
    font-size: 0.95rem;
    color: #ffffff;
    font-style: italic;
}

/* Contacto */

.card-container.contacto {
    display: flex;
    flex-direction: column;
}


.informacion{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.card.formulario:hover{
    transform: translateX(0);
    box-shadow: 0px 6px 18px rgb(131, 3, 138);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Imagen Impresion */

.card.impresoras {
    margin-top: 20px;
    width: 40%;
}

.card.impresoras:hover{
    transform: translateX(0);
    box-shadow: 0px 6px 18px rgb(170, 5, 179);
}
form input,form textarea {
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: Arial, sans-serif;
}

form button {
    padding: 10px;
    border: 1px solid rgb(131, 3, 138);
    border-radius: 6px;
    background-color: rgb(131, 3, 138);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

}


form button:hover {
    background-color: #b83eb8;
}


/* Reservas */

.contenedor-reservas {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.seccion-formulario {
    flex: 2;
    background: #242024ae;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 20px #282626;
}

.fila-form {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #f289ee; 
}


.boton-reserva {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid rgb(131, 3, 138);
    border-radius: 6px;
    background-color: rgb(131, 3, 138);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s;
    width: 100%;
}

.boton-reserva:hover {
    background-color: #b83eb8;
    transform: scale(1.01);
    box-shadow: 0px 0px 15px rgba(227, 6, 190, 0.5);
}

/* Side bar precios */

.sidebar-precios {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
 
}

.tarjeta-info {
    display: flex;
    flex-direction: column;
    background: #141414c8;
    border-radius: 10px;
    box-shadow: 0px 3px 12px rgb(131, 3, 138);
    padding: 20px;
}

.tarjeta-info h3 {
    color: #ffffff;
    border-bottom: 2px solid rgb(131, 3, 138);
    padding-bottom: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.tarjeta-info ul {
    list-style: none;
    padding: 0;
}

.tarjeta-info li {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #333;
    font-size: 0.95rem;
}

.tarjeta-info li span {
    color: #f289ee;
    font-weight: bold;
}

.tarjeta-info.horario p {
    align-self: center;
}
.horario-destacado {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: #f289ee;
    margin-top: 10px;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color:#000000;;
    color: white;
    margin-top: 40px;
    font-size: 0.9rem;
}
