html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #000000ba;
    color: #ffffff;
}

main {
    flex: 1;
    padding: 20px;
}

/* HEADER */
header {
    display: flex;
    position: relative;
    text-align: center;
    background-color: #141414c8;
    color: white;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 15px;
    gap: 20px;
    font-size: 2.2rem;
    letter-spacing: 2px;
}

header img {
    width: 10%;
}
.google {
    
    padding: 10px;
    position: absolute;
    right: 22px;
    top: 0;

}

nav {
    display: flex;
    align-self: end;
 }

nav ul {
    font-size:larger;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s;
}

nav a:hover {
   text-shadow: 0 0 15px ;
   color: #f289ee;
}

/* SECCIONES */
section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    background: #242024ae;;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 20px #282626;
}

section h2 {
    background-color: #141414c8;
    align-self: center;
    box-shadow: 0 0 15px #e306be;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

section p {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Ubicacion */

#ubicacion {
    text-align: center;
    align-items: center;
    padding: 40px 20px;
    background: #141414c8;;

}

.contenedor-mapa {
    display: flex;
    align-items: center;
    margin: 0 auto 25px auto;
    width: 50%;
    border: 1px solid #ddd;
}

.mapa-iframe {
    display: flex;
    width: 100%;
    height: 400px;
    border: none;
}

.button-maps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #141414c8;
    color: white;
    border: 2px solid #e306be;
    box-shadow: 0 0 15px #e306be;
    transition: all 0.3s ease;
    margin-top: 20px;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.button-maps:hover {
    box-shadow: 0 0 25px #f289ee;
    transform: translateY(-3px);
    color: #f289ee;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color:#000000;;
    color: white;
    margin-top: 40px;
    font-size: 0.9rem;
}
